body {
  letter-spacing: .2px;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
}

.sidebarwrapper {
  width: 33%;
  height: 100%;
  position: relative;

}

.left-half {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding-right: 20px;
  width: 50%;
  height: 100%;
}

.left-third {
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 20px;
  box-shadow: 3px 0px 30px 1px #36B4AF;
  position: fixed;
  width: 28%;
  height: 100%;
}

header {
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 2.00vw;
  display: flex;
  flex-direction: column;
  color: #463648;
}

header a {
  color: #214C7B;
  font-family: 'Raleway', sans-serif;
}

.right-twothirds header {
  display: flex;
  flex-direction: column;
}

header span {
  color: #7D2321;
  font-size: 1.25vw;
}

header img {
  width: 100%;
}

.article-header   {
  background: linear-gradient(to right,#ED8E2E, white);;
  font-family: 'Six Caps', sans-serif;
  font-size: 5vw;
  padding-left: 5%;
  letter-spacing: 3px;
  }

h1 {
  margin-left: auto;
  margin-right: 20px;
  padding-right: 5px;
  border-right: 2px solid #F1AA48;
  border-radius: 3px;
  font-size: 3vw;
}

footer ul{
  font-family: 'Raleway', sans-serif;
  color: #7D2321;
  padding-top: 5%;
  padding-bottom: 5%;int
  display: flex;
  flex-direction: column;
}


footer li{
  line-height:200%;
  font-size: 1.5vw;
  padding: 5px;
  border-right: 2px solid #F1AA48;
  border-radius: 3px;
  line-height: 150%;
  margin-left: auto;
}

footer li:hover {
  background: linear-gradient(to left,#36B4AF, white);;
    /*background-color: #36B4AF;*/

}

.right-half {
  font-family: 'Raleway', sans-serif;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.right-twothirds {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 68%;
  height: 100%;
  box-shadow: -3px 0px 20px 0px #E8822F;
  /*border-left: 3px solid black;
  border-radius: 25px;
  border-color: #36B4AF;*/

}
}


nav ul  {
  margin-top: 25%;
  font-size: 150%;
}

h3 a{
  color: #7D2321;
  font-size: 2vw;
  padding-left: 2.5%;
}

h4 {
  color: #7D2321;
  font-size: 1.25vw;
  padding: 10px; 0px;
  padding-left: 2.5%;
}

.projectskills {
  display: inline-block;
  padding: 5px;
  margin-left: 2.5%;
  background-color: #F0F0F0;
  border-color: transparent;

}

.thumbnail {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

#nav a {
  line-height: 170%;
  margin-right: 20px;
  color: #463648;
  border-bottom: 2px solid #F1AA48;
  border-radius: 3px;
  width: 100%;
  display: block;
  font-size: 2vw;
}

#nav a:hover {
  background: linear-gradient(to left,#36B4AF, white);;
  /*background-color: #36B4AF;*/
  font-size: 2vw;
}


header.article-header a {
  color: #214C7B;
  font-size: 3vw;
  padding-bottom: 10px;
  background-color: #E7711A;
}

.five-column {
  width: 15%;
  display: inline-block;
  height: 100%
  text-align: center;
  letter-spacing: .6px;
  font-size: 200%;
  font-weight: bold;
  color: #333745;
  padding: 20px;
}

.five-column:hover {
  background: linear-gradient(to bottom,#36B4AF, white);;
}

.api-box {
  display: flex;
  flex-direction: row;
}
