body {
  letter-spacing: .2px;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
}

.sidebarwrapper {
  width: 33%;
  height: 100%;
}

/*.left-half {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  padding-right: 20px;
  width: 50%;
  height: 100%;
}*/

.left-third {
  /*justify-content: space-around;*/
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 20px;
  box-shadow: 3px 0px 30px 1px #36B4AF;
  position: fixed;
  width: 28%;
  height: 100%;
}

header {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2.00vw;
  display: flex;
  flex-direction: column;
  color: #463648;
}

header a {
  color: #214C7B;
  font-family: 'Raleway', sans-serif;
}

header:hover {
  background: linear-gradient(to left,#36B4AF, white);
}

.right-twothirds header {
  display: flex;
  flex-direction: column;
}

header span {
  color: #7D2321;
  font-size: 1.25vw;
}

header img {
  width: 100%;
}

.article-header   {
  background: linear-gradient(to right,#ED8E2E, white);;
  font-family: 'Six Caps', sans-serif;
  font-size: 5vw;
  padding-left: 5%;
  letter-spacing: 3px;
  color: #7D2321;
  }

h1 {
  margin-left:auto;
  margin-top: 5%;
  margin-right: 20px;
  padding-right: 5px;
  border-right: 2px solid #F1AA48;
  border-radius: 3px;
  font-size: 3vw;
}

footer ul{
  font-family: 'Raleway', sans-serif;
  color: #7D2321;
  padding-top: 5%;
  padding-bottom: 5%;
}


footer li{
  line-height:200%;
  font-size: 1.5vw;
  padding: 5px;
  /*border-right: 2px solid #F1AA48;
  border-radius: 3px;*/
  line-height: 150%;
}

footer li:hover {
  background: linear-gradient(to left,#36B4AF, white);;
  font-size: 3vw;
    /*background-color: #36B4AF;*/

}

/*.right-half {
  font-family: 'Raleway', sans-serif;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}*/

.right-twothirds {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  width: 68%;
  height: 100%;
  box-shadow: -3px 0px 20px 0px #E8822F;
}


nav ul  {
  margin-top: 5%;
  font-size: 150%;
}

h3 a{
  color: #7D2321;
  font-size: 2vw;
  padding-left: 2.5%;
}

h4 {
  color: #7D2321;
  font-size: 1.25vw;
  padding: 10px; 0px;
  padding-left: 2.5%;
}

.projectskills {
  display: inline-block;
  padding: 5px;
  margin-left: 2.5%;
  background-color: #F0F0F0;
  border-color: transparent;

}

.thumbnail {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

#nav a {
  line-height: 170%;
  margin-right: 20px;
  color: #463648;
  border-bottom: 2px solid #F1AA48;
  border-radius: 3px;
  display: block;
  width: 100%;
  font-size: 2vw;
}

#nav a:hover {
  background: linear-gradient(to left,#36B4AF, white);
  /*background-color: #36B4AF;*/
  font-size: 3vw;
}


.article-header a {
  color: #214C7B;
  font-size: 3vw;
  padding-bottom: 10px;
  background-color: #E7711A;
  bottom: 0px;
}

.five-column {
  width: 15%;
  display: inline-block;
  height: 100%
  text-align: center;
  letter-spacing: .6px;
  font-size: 200%;
  font-weight: bold;
  color: #333745;
  padding: 20px;
}

.five-column:hover {
  background: linear-gradient(to bottom,#36B4AF, white);;
}

.api-box {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  main {
    display: block;
  }

  div.left-third {
  padding: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
  }

  .right-twothirds {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .sidebarwrapper {
    width: 100%;
    height: 100%;
  }

  header {
  }

  header img {
  }

  h3 a {
    font-size: 4vw;
  }

  h4 {
    font-size: 3vw;
  }

  #nav a {
    font-size: 4vw;
    margin: 0px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0px 10px;
    width: 82%;
    height: 100%;
  }

  #nav a:hover {
    font-size: 5vw  ;
  }

  .article-header {
    font-size: 60px;
    color: #463648;
  }

  footer ul {
    margin-left: 30px;
    width: 100px;
    display: none;
  }

  footer li {
    font-size: 12px;
  }

  footer li:hover {
    font-size: 30px;
  }

  header {
    padding: 0px 0px;
    margin: 0px;
  }

  header a {
    font-size: 30px;
    width: 100%;
  }

  header span {
    font-size: 2vw;
  }

  header a:hover {
    font-size: 30px;
    width: 100%;
  }

  .five-column {
    color: #333745;
    padding: 20px;
    display: flex;
    flex-direction; flex-wrap;
  }


}
